<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/password" method="post">
    <div>
        Bonjour <span th:text="${login}"></span>
    </div>
    <div>
        Graine <span th:text="${graine}"></span>
    </div>
    <div>
        Sel <span th:text="${sel}"></span>
    </div>

    <label>
        Password:
        <input name="password" type="password"/>
        <input name="login" type="hidden" th:value="${login}"/>
        <input name="sel" type="hidden" th:value="${sel}"/>
        <input name="graine" type="hidden" th:value="${graine}"/>
    </label>
    <input type="submit" value="OK"/>
</form>

<script th:src="@{md5.min.js}"></script>
<script th:src="@{jquery.min.js}"></script>
<script th:src="@{script_password.js}"></script>
</body>
</html>

