<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Subscribe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/subscribe" method="post">
    <div>
        Sel <span th:text="${sel}"></span>
    </div>

    <label>
        Login:
        <input name="login" type="text"/>
    </label>
    <label>
        Password:
        <input name="password" type="password"/>
    </label>
    <input name="sel" type="hidden" th:value="${sel}"/>
    <input type="submit" value="OK"/>
</form>

<script th:src="@{md5.min.js}"></script>
<script th:src="@{jquery.min.js}"></script>
<script th:src="@{script_subscribe.js}"></script>
</body>
</html>

